<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_individual">

    <application
        android:theme="@style/Theme.TimeSchedule"

        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity
            android:name=".IndividualActivity"
            android:exported="true">
        </activity>
        <provider
            android:authorities="com.example.module_individual.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:requestLegacyExternalStorage="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>